// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  padding: 0 24px;
}

h1 {
  font-weight: semi-bold;

}

blockquote {
  border-left: 6px solid #ddd;
  margin: 1.5em 0;
  padding: 0.5em 1em;

  &.coach {
    background-color: lightyellow;
    p { font-weight: 500; }
  }
}

cite:before {
  content: "—"
}

a:hover {
  color: blue;
}
